<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvCweoTRzNQ1vKV-Hsl9FlIJ3AwF-z_98</string>
	<key>GCM_SENDER_ID</key>
	<string>105567890894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.demoproject</string>
	<key>PROJECT_ID</key>
	<string>azfar-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>azfar-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105567890894:ios:ca27cb1a662df3b1a38f9f</string>
</dict>
</plist>